@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* Start Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* End Reset */

/* Start Utility Classes */

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.cta-heading,
.cta-text {
    text-align: center;
}

/* End Utility Classes */

body {
    font-size: 15px;
    font-family: "Outfit";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d6e2f0ff;
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.QRcard {
    background-color: white;
    border-radius: 20px;
    max-width: 330px;
}

.QRimage img {
    max-width: 300px;
    margin: 15px;
    border-radius: 12px;
}

.cta-heading {
    font-size: 22px;
    color: #1f3251ff;
    margin: 0 20px 16px 20px;
    line-height: 120%;
}

.cta-text {
    color: #68778dff;
    margin: 0 30px 3rem 30px;
    line-height: 140%;
    letter-spacing: 0.2px;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
}

.attribution {
    width: 100%;
    text-align: center;
    margin: 1em 0 1em 0;
}

@media screen and (max-width: 425px) {
    footer {
        display: flex;
        justify-content: center;
    }
    .attribution {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 300px;
    }

    .nowrap {
        white-space: nowrap;
    }
}

@media screen and (max-width: 360px) {
    body {
        font-size: 13px;
    }

    .QRimage img {
        max-width: 270px;
    }

    .QRcard {
        max-width: 300px;
    }

    .cta-heading {
        font-size: 20px;
    }
}

@media screen and (max-height: 431px) {
    body {
        font-size: 9px;
    }

    .QRimage img {
        max-width: 180px;
    }

    .QRcard {
        max-width: 210px;
    }

    .cta-heading {
        font-size: 13px;
    }

    .cta-text {
        margin: 0 20px 20px 25px;
    }
}
