@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* Start Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* End Reset */

/* Start Utility Classes */
img {
    display: block;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.hidden-header {
    display: none;
}

.cta-heading,
.cta-text {
    text-align: center;
}

/* End Utility Classes */

body {
    font: clamp(0.8rem, 2vw, 1rem) "Outfit", "Inter", "Poppins", "Segoe UI",
        sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d6e2f0ff;
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.QRcard {
    background-color: white;
    border-radius: 1.25rem;
    width: clamp(290px, 50vw, 330px);
    box-shadow: 0 10px 20px rgba(31, 50, 81, 0.2);
}

.QRimage img {
    width: clamp(250px, 87%, 300px);
    margin: clamp(0.5rem, 6.5%, 1.5rem);
    border-radius: 0.75rem;
}

.cta-heading {
    font-size: clamp(1.25rem, 3vw, 1.4rem);
    color: #1f3251ff;
    margin: 0 1.25rem 1rem 1.25rem;
    line-height: 120%;
}

.cta-text {
    color: #68778d;
    margin: 0 1.9rem 3rem 1.9rem;
    line-height: 140%;
    letter-spacing: 0.2px;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
}

.attribution {
    width: 100%;
    text-align: center;
    margin: 1em 0 1em 0;
}

@media screen and (max-width: 460px) {
    footer {
        display: flex;
        justify-content: center;
    }
    .attribution {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: min-content;
    }

    .nowrap {
        white-space: nowrap;
    }
}

@media screen and (max-height: 431px) {
    body {
        font-size: 0.6rem;
    }

    .QRimage img {
        max-width: 11.25rem;
    }

    .QRcard {
        max-width: 13.1rem;
    }

    .cta-heading {
        font-size: 0.8rem;
    }

    .cta-text {
        margin: 0 1.25rem 1.25rem 1.55rem;
    }
}
